<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-inputs">
      <%= f.input :email, :label => "Correo", required: false, autofocus: true, wrapper: :horizontal_input_group, :placeholder => "Digita tu correo..." %>
      <%= f.input :password, :label => "Contraseña", required: false, wrapper: :horizontal_input_group, :placeholder => "Digita tu contraseña..." %>
      <%= f.input :remember_me,:label => "Recordarme", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>

